# Python
__pycache__/
*.py[cod]
.venv/

# C++ / Binarios
build/
bin/
obj/
*.o
*.a
*.so
*.out
*.exe

# Database (La DB local no se sube, solo el esquema SQL)
db/*.db
db/*.sqlite3
!db/.gitkeep

# IDEs
.vscode/
.idea/
